:root {
  --primary-color: #F9234D;
  --secondary-color:#01122D;
  --text-color: #6C6B72;
  --bg-color: #DFECFF;
}

html {
  font-size: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
=============================================================
Box-sizing
=============================================================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
=============================================================
Custom Styles
=============================================================
*/
body {
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: -1px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.padding {
  padding: 4rem 0;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  color: var(--primary-color);
}

.img-responsive {
  max-width: 100%;
}
/*
=============================================================
Headings/Paraghraphs
=============================================================
*/
.hero-heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-text {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.section-heading {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.section-text {
  color: var(--text-color);
}

.center-heading {
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-top: 2rem;
  text-transform: capitalize;
}

.text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0.5rem 0;
}

.schedule-heading {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--secondary-color);
}
.schedule-text {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0.6rem 0;
  color: var(--text-color);
}

.count {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.service-text {
  font-size: 1.4rem;
}

.news-heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1rem;
  color: var(--secondary-color);
}

.media-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
/*
=============================================================
Buttons
=============================================================
*/
.btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin: 1rem 0;
  display: inline-block;
}

.center-btn {
  text-align: center;
}

.primary-btn {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 1.2rem 0;
  text-decoration: underline;
}

.active-btn {
  color: var(--primary-color);
}
/*
=============================================================
Header
=============================================================
*/
.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  
}
.brand {
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-menu-item {
  margin-left: 2rem;
}

.nav-menu-item a {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav-menu-item:last-child{
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 5%;
}

/* Hamburger Menu */
label {
  font-size: 2rem;
  color: #fff;
  display: none;
}

.toggle {
  display: none;
}
/*
=============================================================
Hero-Section
=============================================================
*/
.hero-section {
  color: #fff;
  background: linear-gradient(#3629b0cc, #3629b0cc), url("../images/01.png");
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
  padding-top: 4rem;
  /* padding-bottom: 2rem; */
}
.hero-article {
  align-items: unset;
}
.left-col {
  flex: 0 1 48%;
  align-self: center;
}
.right-col {
  flex: 0 1 32%;
}

/*
=============================================================
About-Section
=============================================================
*/
.about-col-left {
  flex: 0 1 40%;
}

.about-col-right {
  flex: 0 1 53%;
}

/*
=============================================================
feature-Section
=============================================================
*/
.feature-section {
  background-color: var(--bg-color);
}

.col-1-3 {
  flex: 0 1 31.5%;
}

.feature {
  padding: 0 1rem ;
  border: 2px dashed var(--primary-color);
  position: relative;
}
.number {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: -1.2rem;
  padding: 0 0.6rem;
  background-color: var(--bg-color);
}
/*
=============================================================
Schedule-Section
=============================================================
*/
.schedule-section {
  position: relative;
}

.schedule-date-border {
  border-left: 3px dashed var(--primary-color);
  position: absolute;
  height: 700px;
  left: 6.8rem;
  top: 5px;
  z-index: -1;
}

.schedule {
  margin: 4rem 0;
}

.date {
  flex: 0 12%;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  border: 2px dashed var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.schedule-figure {
  flex: 0 1 15%;
}

.schedule-text {
  flex: 0 1 60%;
}

.img-border {
  border-radius: 8px;
}

.active-event {
  background-color: var(--primary-color);
  color: #fff;
}
/*
=============================================================
Services-Section
=============================================================
*/
.services {
  background-color: var(--bg-color);
  text-align: center;
}

.col-1-4 {
  flex: 0 1 23%;
}

.service-img {
  max-width: 20%;
  margin: 0 auto;
}

.active {
  padding: 2.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.active-img {
  color: #fff;
}

/*
=============================================================
Video-Section
=============================================================
*/
.video-section {
  /* max-height: 800px; */
}
.embedded-video {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

iframe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 25px;
}
/*
=============================================================
News-Section
=============================================================
*/
.news-section {
  background-color: var(--bg-color);
}

/*
=============================================================
Footer-Section
=============================================================
*/
.footer-links {
  padding: 4rem 2rem;
  background-color: #23347B;
}

.col-1-2 {
  display: flex;
  flex: 0 1 70%;
}

.nav-item {
  margin: 2rem 1rem 0 0;
}
.nav-item a {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #b1b4c3;
}

.social-media {
  margin-left: 3rem;
}

.icons {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #BCC0D2;
}

.fab {
  margin-right: 1.2rem;
}

.copyright {
  text-align: center;
  padding: 2rem 0;
  background-color: #102169;
}

small {
  font-size: 1.2rem;
  color: #b1b4c3;
}

/*
=============================================================
Responsive
=============================================================
*/

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .container {
    margin: 0 2rem;
  }
  .flex-col {
    flex-flow: column wrap;
  }


  /* Header*/
  .direction-col {
    flex-direction: column;
  }

  label {
    columns: #fff;
    display: inline-block;
    cursor: pointer;
  }
 
  .brand,
  label {
    position: relative;
    z-index: 1;
  }

  .navbar {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 120px;
  }

  .toggle:checked ~ .navbar {
    display: inline-block;
  }

  .nav-menu-item {
    margin: 20px 0;
  }

  /* Hero-Section */
  .hero-section,
  .about-section,
  .news-section {
    text-align: center;
  }

  .left-col,
  .right-col {
    flex: 0 1 90%;
  }

  .left-col{
    order: 1;
    margin-top: 3rem;
  }

  /* About-section */
  .about-col-right {
    margin-top: 3rem;
  }

  /* Feature-section */
  .feature {
    margin: 2rem 0;
  }

  .feature-width {
    max-width: 70%;
  }

  /* Schedule */

  .schedule {
    padding: 2rem 3.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px var(--text-color);
  }
  .schedule-date-border {
    display: none;
  }

  .date {
    padding: 3rem 1rem;
    margin-bottom: 2rem;
  }

  .schedule-text {
    text-align: center;
    margin-top: 2rem;
  }

  /* Service */
  .col-1-4 {
    max-width: 55%;
    margin: 2rem 0;
    padding: 2rem 0;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px var(--text-color);
  }

  /* Video */
  .video-section{
    /* padding-bottom: 0; */
  }
  /* News */
  .news-section {
    background-color: #fff;
    padding: 0;
  }
  .col-1-3 {
    margin-bottom: 3rem;
    padding: 3rem 2rem 1rem;
    border-radius: 5px;
    background-color: var(--bg-color);
  }
 
  /* Footer */
  .footer {
    text-align: center;
  }
  .quick-links,
  .social-media  {
    margin-top: 2rem;
  }

  .social-media {
    margin-left: 0;
  }
  .nav-item {
    margin: 1rem;
  }

  .nav-item a {
    font-size: 0.8rem;
  }

  .fab {
    margin: 0.5rem;
  }
 
  .icons {
    margin-top: 0.5rem;
  }
}
